.hero-section {
    margin: 20px 0;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hero-section__desc {
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.desc-title {
    font-size: 36px;
    font-weight: 700;
    color: var(--color-primary)
}

.desc-paragraf {
    font-size: 18px;
    color: var(--color-black);
    text-align: justify;
    line-height: 30px;
}

.desc-btn {
    font-weight: bold;
    color: var(--color-white);
    border-radius: 15px;
}

.hero-section__image{
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    margin-top: 50px;
    margin-left: 100px;
    width: 80%;
    object-fit: contain;
    border-radius: 25px;
}