.layout {
    min-height: 100vh;
}

.layout-content {
    padding: 24px;
    min-height: 400px;
    background: var(--color-white)
}

.layout-content__button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
}