.input-product-title-form {
    text-align: center;
}

.input-product-form-item {
    margin: 5px 0;
}

.input-product-form-item-button {
    margin: 10px 0;
    text-align: center;
}

.input-product-form-item-button-submit{
    width: 100%;
}